extends layout

block content

  h1 #{area.area_name}
  p State: #{area.state}
  p Date Added: #{area.added_date_formatted}
  p Added By: #{area.added_by}

  div(style='margin-left:20px;margin-top:20px')

    h4 Sectors in #{area.area_name}

    dl
      each sector in sectors
        dt
          a(href=sector.url) #{sector.sector_name}

      else
        p This area has no sectors.
  hr
  p
    a(href=area.url+'/delete') Delete Area
  p
    a(href=area.url+'/update') Update Area
